@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-align: left;
  margin-left: 7%;
}

h1 {
  color: #002d72;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-content img {
  margin-bottom: 5px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-row-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
}

.embalagem-btn, .produto-btn {
  padding: 0;
  border: none;
  background: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.embalagem-btn img, .produto-btn img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.embalagem-btn.active, .produto-btn.active {
  transform: scale(1.4);
}

.main-grid {
  display: flex;
  gap: 20px;
}

.grid-embalagens,
.grid-produtos {
  flex-basis: 50%;
  max-width: 450px;
}

.grid-produtos .content {
  padding-right: 6px;
}

.nav {
  grid-column: 1 / span 4;
  grid-row: 1;
  background-color: #002d72;
  height: 30px;
}

.content {
  grid-column: 1 / span 4;
  grid-row: 2;
  border: 1px solid #dadbdf;
}

.texto {
  padding-top: 7px;
  padding-left: 12px;
  font-size: 11px;
  text-align: left;
  color: white;
  font-weight: 300;
}

.card {
  opacity: 0;
  transition: opacity 0.5s ease;
  flex: 0 0 calc(15% - 20px); 
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  box-sizing: border-box;
  max-width: 270px;
}

.card:hover .card-name{
  background-color: #002d72;
  transition: background-color 0.12s linear;
}

.container {
  padding: 1px 8px;
  margin-top: -17px;
}

.card img{
  height: 150px;
  width: auto;
}

.card-name {
  background-color: dimgrey;
  height: 20px;
  width: calc(100% + 1px);
}

.texto-card {
  padding-top: 5px;
  padding-left: 6px;
  font-size: 10px;
  text-align: left;
  color: white;
  font-weight: 300;
}

.center {
  padding-top: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card h4 {
  font-size: 15px;
}

.card p {
  font-size: 12px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: flex-start; 
}

.card.animate {
  opacity: 1;
  transition-delay: 0.1s;
}