@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

* body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-align: left;
}

* h1 {
  color: #002d72;
}

.color-profills{
  color:#002d72;
}

.bg-profills{
  background-color: #002d72;
}

.bg-steal{
  background-color:#929292;
}

.tarja{
  height: 36px;
  width:100%;
}

* .montagem, .resultados {
  width: 90%;
  margin:auto;
}

* .button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

* .button-content img {
  margin-bottom: 5px;
}

* .button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

* .button-row-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
}

* .embalagem-btn, .produto-btn {
  padding: 16px;
  border: none;
  background: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  /* margin: 10px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; */
}

* .embalagem-btn img, .produto-btn img{
  max-width: 90px;
  max-height: 90px;
  object-fit: cover;
}

* .embalagem-btn.active, .produto-btn.active {
  /* transform: scale(1.4); */
  font-weight: bold;
  color: #002d72;
  transform: scale(1.2);

}

.embalagem-btn.active p, .produto-btn.active p{
  border-bottom: 2px solid #002d72;
}


* .embalagem-btn:hover, .produto-btn:hover {
  background-color: #b4d0fa;
  
}


.header-nav{
  background-color: #002d72;
  text-align: center;
}

* .main-grid {
  display: flex;
  gap: 20px;
}

* .grid-embalagens,
.grid-produtos {
  flex-basis: 50%;
  max-width: 450px;
}

* .grid-produtos .content {
  padding-right: 6px;
}

* .nav {
  grid-column: 1 / span 4;
  grid-row: 1;
  background-color: #002d72;
  height: 30px;
}

* .navtop{
  margin: 0;
  padding: 0;
  height: 50px;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

* .navtop a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

* .content {
  grid-column: 1 / span 4;
  grid-row: 2;
  border: 1px solid #dadbdf;
}

.topo{
  padding-top: 36px;
  padding-bottom: 60px;
  width: 100%;
}

* .texto {
  padding-top: 7px;
  padding-left: 12px;
  font-size: 11px;
  text-align: left;
  color: white;
  font-weight: 300;
}

.item-incluido{
  position:absolute;
  z-index: 10;
  top: 20px;
  right: 8px;
  color: #002d72;
}

/* * .card {
  opacity: 0;
  transition: opacity 0.5s ease;
  flex: 0 0 calc(15% - 20px); 
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  box-sizing: border-box;
  max-width: 300px;
  cursor: pointer;
}

* .card:hover .card-name{
  background-color: #002d72;
  transition: background-color 0.12s linear;
}



* .card img{
  height: 150px;
  width: auto;
  max-width: 160px;
}

* .card-name {
  background-color: dimgrey;
  height: 20px;
  width: calc(100% + 1px);
} */

* .texto-card {
  padding-top: 5px;
  padding-left: 6px;
  font-size: 10px;
  text-align: left;
  color: white;
  font-weight: 300;
}

* .center {
  padding-top: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* .card h4 {
  font-size: 15px;
}

* .card p {
  font-size: 12px;
}

* .flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: flex-start; 
}

* .card.animate {
  opacity: 1;
  transition-delay: 0.1s;
}

 .btn-dark:hover {
  background-color: #002d72;
}

 .btn-dark:focus {
  background-color: #002d72;
}

.user-form{ 
 border-radius: 1.5rem;
 padding: 16px;
 max-width: 750px;
}

.btn-block{
  background-color: #002d72;
  color:white;
}

.btn-block:hover{
  color:white;
  transition: 0.3s ease;
  transform: scale(0.97);
}


.logo {
  margin-bottom: 0px;
}

* .ml-auto{
  margin-bottom: -6px;
}





/* estilo para o card */

.news {
  background: #fff;
	position: relative;
	overflow: hidden;
	z-index:1;
	transition: all 0.5s ease;	
  color: #4A4A4A;
	border: 1px solid #E8E8E8;
}

.news:hover{
  box-shadow: 0px 21px 36px -14px rgba(220,220,220,1);;

}


.news .img-figure {
	position: relative;
}

.news .img-figure img {
	position: relative;	
	overflow: hidden;
	transition: all 1s ease;
  width: 95%;
}

.news:hover .img-figure img {
	transform: scale(1.50);
}

.news .title {
	/*padding: 29px 30px;*/
	padding: 20px 20px;
	position: absolute;
	left: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;	
}


.news .title span {
  font-size:12px;
  color:#929292;

}
.news .title h1 {
	margin: 10px 0 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	color: #4A4A4A;
	text-align: left;
  transition: all 0.5s ease;	
}

.news:hover .title  {
	margin-top: -100px;
	background: #fff;
  cursor:pointer;
}


.news:hover .title h1  {
  color: #002d72; 
}

.news  p.description {
	position: relative;
	font-weight: normal;
	line-height: 22px;
	opacity: 0;

	text-align: left;

	padding: 15px 20px 0px 20px;
	transition: all 0.5s ease;	
}

.news:hover p.description  {
	opacity: 1;
  margin-top: -10px;
}

p.more {
	text-align: left;
  margin-left:20px;
}

.more a {
    position: relative;
    font-size: 13px;
    margin-top: 30px;
    display: block;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    color: #929292;
    padding: 6px 16px;
    border: 1px solid #929292;
    text-decoration: none;
}


.news:hover .more a {
  background:#4A4A4A;
  color:white;
}



.cat {
	background: #DCDCDC;
	color: #4A4A4A;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 1;
	padding: 6px 16px;
  opacity:.8;
  transition: all 0.5s ease;	
}


.news:hover .cat{
  background:#002d72;
  color:white;
}

