/* Animação dos botões */

.embalagem-btn {
    padding: 0;
    border: none;
    background: none;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}


.embalagem-btn img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.embalagem-btn.active {
    transform: scale(1.25);
}

.produto-btn {
  padding: 0;
  border: none;
  background: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.produto-btn img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.produto-btn.active {
  transform: scale(1.25);
}

/* Fim da animação dos botões */

/* Container de opções */

.grid {
	display: grid;
}

.main-grid{
    grid-template-columns: 350px 270px;
    column-gap: 50px;
    justify-content: center;
}

.grid-embalagens, .grid-produtos {
	grid-template:
		"nav nav" 27px
		"content content" 200px
}

.nav {
	grid-area: nav;
  background-color: grey;
}

.content {
	grid-area: content;
  border: 5px solid grey
}

/* Grid Item */
.item {
	font-size: 1.5em;
  text-align: center;
}

.grid {
	max-width: 400px;
  margin: auto;
}
