@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

* body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "left left right right"
    "left left right right"
    "left left right right"
    "left left right right"
}

.grid-left {
  grid-area: left;
  margin-left: 10px;
}

.grid-right {
  grid-area: right;
  margin-right: 30px;
}

footer {
  margin-top: 350px;
}

.version {
  background-color: #8a8a8a;
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  padding: 1px 19px;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-top: 10px;
  margin-left: 3px;
}

.version:hover {
  background-color: #002d72;
}

.version.active {
  background-color: #002d72;
}

.version:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 300px) {
  .version {
    padding: 2px 10px;
  }
}

* .logo {
  width: 150px;
  height: auto;
}

* .nav-link{
  color:#002d72;
}

* .btn-default{
  padding-top: 6.8px;
  color: #002d72;
}

.info-container {
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(2, 110px);
  grid-gap: 10px;
  margin-top: 12px;
}

.info-azul {
  width: 110px;
  height: 52px;
  background-color: #002d72;
  padding-left: 5px;
}

.info-cinza {
  width: 250px;
  height: 52px;
  background-color: #ededed;
  padding-left: 5px;
}

.textoinfoA {
  font-size: 12px;
  text-align: left;
  color: white;
  font-weight: 300;
  padding: 3px;
}

.textoinfoB {
  font-size: 12px;
  text-align: left;
  color: #002d72;
  font-weight: 300;
  padding: 3px;
}

.subtexto {
  font-size: 10px;
  text-align: left;
  color: #002d72;
  font-weight: 300;
  padding: 2px;
}

.img-container {
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 7px;
}

.img-container img{
  float: left;
  width: 600px;
  height: auto;
}

.acessorios {
  margin-top: 370px;
}

.acessorio-btn {
  padding: 0;
  border: 5px solid #b1b1b1;
  background: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  margin: 10px;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.acessorio-btn img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: none;
  transition: border-color 0.3s ease;
  border-radius: 50%;
}

.acessorio-btn.active {
  border-color: #002d72;
}

.topbar {
  background-color:#002d72;
  height: 35px;
  width: auto;
}

.topbar-txt {
  margin-left: 10px;
  padding-top: 5px;
  color: white;
  font-weight: 100;
}

.botoes-acessorios {
  border: 1px solid grey;
}

.btn-block{
  background-color: #002d72;
  color:white;
  width: 600px;
  margin-right:10px;
  margin-top: 10px;
  height: 45px;
}
  
.btn-block:hover{
  color:white;
  transition: 0.3s ease;
  transform: scale(0.97);
}