<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/maquinas.css">
  <title>Profills - Linha TP</title>
</head>

<body>
  <div class="grid">
    <div class="item nome">
      <div class='item texto-nome'>
        <div class="textost">Linha TP</div>
      </div>
    </div>
    <div class="montagem border">
      <div><img src="/static/images/maquinas_cortado/tp.jpg" alt="Máquina da linha TP" class="imagemMaquina"></div>
      <div class="content">
        <div class="versoes">
          <button class="version" role="button">TP 85</button>
          <button class="version" role="button">TP 100</button>
          <button class="version" role="button">TP 120</button>
          <button class="version" role="button">TP 140</button>
          <button class="version" role="button">TP 180</button>
          <button class="version" role="button">TP 300</button>
        </div>
      </div>
      <div class="info">
        <div class="info-container">
          <div class="info-azul">
            <div class="textoinfoA">Capacidade de produção</div>
          </div>
          <div class="info-cinza">
            <div class="textoinfoB">
              Até 3 mil unidades/hora
              <div class="subtexto">Variável de acordo com a embalagem e a quantidade do produto</div>
            </div>
          </div>
        </div>

        <div class="info-container">
          <div class="info-azul">
            <div class="textoinfoA">Sistema de dosagem</div>
          </div>
          <div class="info-cinza">
            <div class="textoinfoB">
              Temporizado | Bomba positiva | Volumétrico
            </div>
          </div>
        </div>

        <div class="info-container">
          <div class="info-azul">
            <div class="textoinfoA">Área de operação</div>
          </div>
          <div class="info-cinza">
            <div class="textoinfoB">
              2.100x2.450 [mm²]
            </div>
          </div>
        </div>

        <div class="info-container">
          <div class="info-azul">
            <div class="textoinfoA">Material de fabricação</div>
          </div>
          <div class="info-cinza">
            <div class="textoinfoB">
              Aço inoxidável AISI 304, alumínio, policarbonato e aço carbono
            </div>
          </div>
        </div>

        <div class="info-container">
          <div class="info-azul">
            <div class="textoinfoA">Produtos de envase</div>
          </div>
          <div class="info-cinza">
            <div class="textoinfoB">
              Líquidos e secos
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>