{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/maquinas.css">
<link rel="stylesheet" href="/static/css/main.css">

{% endblock %}

{% block body %}

<div class="container-fluid topo" style="background-image: url('https://www.profills.com/images/topo-fundo2.jpg'); height: 150px;">
</div>>

<div class="container">
  <h3 class="color-profills">Maquinas Envasadoras</h3>
  <p class="fw-bold fs-2">{{maquina.linha}}</p>
  <p>{{maquina.linha_texto}}</p>
  
  <hr>
</div>

<div class="container" id="maquina-selecionada">
  
  <div class="row g-0" >

    <div class="col-4 maquina-card">
      <div class="maquina-card-text">
        <div class="maquina-card-text-meta">Maquina Envasadora</div>
        <div class="maquina-card-title" id="modelo-maquina-header">{{maquina.modelos[0]}}</div>
      </div>
      <img src={{maquina.imagem_pag_maquina}} alt="{{maquina.nome}}">
    </div>
    
    <div class="col-8 ms-5 d-flex flex-column justify-content-between" >
      <h3>Especificação da Embalagem</h3>
      <p>Os modelos da {{maquina.linha}} {{maquina.variacao}}.</p>
      <hr>
      <div class="container card-embalagem" id="info-embalagem-maquina">
        <div class=" row">
          <div class="col-4 ">
            <div class="card">
              <img src="/static/images/embalagens-montadas/sache-envasadora-solda-simples.jpg" class="card-img-top">
              <hr>
              <p class="card-text text-center"> {{maquina.info_embalagem.variacao}}</p>
            </div>
          </div>
          <div class="col-8 d-flex flex-column justify-content-between">    
                  <h5 class="info-embalagem-item"><span class="color-profills">Largura do Filme: </span><span class="fw-bold" id="largura_filme">{{maquina.espessura_filme}}</span></h5>
                  <h5 class="info-embalagem-item"><span class="color-profills">Espessura do Filme:</span> <span class="fw-bold"> {{maquina.espessura_filme}}</span></h5>
                  <h5 class="info-embalagem-item"><spam class="color-profills">Embalagem Final: </spam><span class="fw-bold" id="largura_final">85 a 300 [mm]</span></h5>
                  <h5 class="info-embalagem-item"><spam class="color-profills">Material: </spam><span class="fw-bold"  >{{maquina.material_embalagem}}</span></h5>
                  <h5 class="info-embalagem-item"><spam class="color-profills">Produto de Envase: </spam><span class="fw-bold" id="largura_filme">{{maquina.produto_texto}}</span></h5>
          </div>
        </div>
    </div>
  </div>


  <div class="row  gx-5 px-3 mt-5">
    <div class="col-lg-6" >
            <div class="header-nav row py-2">
              <p class="h4 text-light">Selecione um modelo de Máquina</p>
            </div>
            <div class="row row-cols-2 py-3 border border-1 border-secondary d-flex justify-content-between " style="min-height:300px">
              {% for model in maquina.modelos%}
                {% if loop.index is eq(1) %}
                  <div class="d-grid gap-2 my-2 " ><button class="version btn btn-primary btn-lg active" role="button"  onclick="updateInfo({{MODEL}}, this)">{{model}}</button></div>
                {% else %}
                  <div class="d-grid gap-2 my-2 " ><button class="version btn btn-primary btn-lg " role="button" onclick="updateInfo({{MODEL}}, this)">{{model}}</button></div>
                {%  endif %}
              {% endfor %}
            </div>
    </div>
  
    <section class="col-lg-6" >

        <div class="header-nav row py-2">
            <p class="h4 text-light">Incluir Acessórios</p>
        </div>

        <div class="row row-cols-3 py-4 px-3 border border-1 border-secondary d-flex justify-content-around " style="min-height:300px">
            
          <button type="button" class="acessorio-btn " value="Mixer">
              <img src="/static/images/acessorios/ribbon.png" alt="Mixer">
              <p>Mixer</p>
              <i class="fa-solid fa-circle-check acessorio-incluido"  style="display: none;"></i>
            </button>
          <button type="button" class="acessorio-btn" value="Tanque">
              <img src="/static/images/acessorios/tanque.png" alt="Tanque">
              <p>Tanque</p>
              <i class="fa-solid fa-circle-check acessorio-incluido"  style="display: none;"></i>
          </button>
          <button type="button" class="acessorio-btn" value="Dosador">
              <img src="/static/images/acessorios/dosador.png" alt="Dosador">
              <p>Dosador</p>
              <i class="fa-solid fa-circle-check acessorio-incluido"  style="display: none;"></i>
            </button>
      
          <button type="button" class="acessorio-btn" value="Esteira">
              <img src="/static/images/acessorios/esteira.png" alt="Esteira">
              <p>Esteira</p>
              <i class="fa-solid fa-circle-check acessorio-incluido"  style="display: none;"></i>
          </button>
          <button type="button" class="acessorio-btn" value="Elevador">
              <img src="/static/images/acessorios/elevador.png" alt="Elevador">
              <p>Elevador</p>
              <i class="fa-solid fa-circle-check acessorio-incluido"  style="display: none;"></i>
          </button>
          <button type="button" class="acessorio-btn" value="Bomba">
              <img src="/static/images/acessorios/bomba.png" alt="Bomba">
              <p>Bomba</p>
              <i class="fa-solid fa-circle-check acessorio-incluido"  style="display: none;"></i>
          </button>
        </div>
    </section>
    
  </div>
</div>


<div class="container my-5" id="info-maquina-selecionada">
  <h4>Informações Técnicas</h4><br>
  <div class="row row-cols-md-5 row-cols-2  g-3 d-flex align-items-stretch">

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Produção</div>
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Até {{maquina.info_tecnicas.producao}} unid./hora</h5>
          <p class="card-text">Variável de acordo com a embalagem e quantidade de produto</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Sistema Datador</div>
        <div class="card-body d-flex align-items-center ">
          <h5 class="card-title">{{maquina.info_tecnicas.datador}}</h5>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Sistema de Dosagem</div>
        <div class="card-body d-flex align-items-center ">
          <h5 class="card-title">{{maquina.info_tecnicas.dosagem}}</h5>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Tensão Operativa</div>
        <div class="card-body d-flex align-items-center ">
          <h5 class="card-title">{{maquina.info_tecnicas.tensao}}</h5>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Potência Ativa Instalada</div>
        <div class="card-body d-flex align-items-center ">
          <h5 class="card-title">{{maquina.info_tecnicas.potencia_instalada}}[kW]</h5>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Potência Ativa Consumida</div>
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">{{maquina.info_tecnicas.potencia_consumida}} [kW.h]</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Comando</div>
        <div class="card-body d-flex align-items-center ">
          <h5 class="card-title">{{maquina.info_tecnicas.comando}}</h5>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Consumo de Ar</div>
        <div class="card-body d-flex align-items-center ">
          <h5 class="card-title">{{maquina.info_tecnicas.consumo_ar}}</h5>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Área de Operação</div>
        <div class="card-body d-flex align-items-center ">
          <h5 class="card-title">{{maquina.info_tecnicas.area}} [mm²]</h5>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="min-height: 150px">
        <div class="card-header">Material de Fabricação</div>
        <div class="card-body d-flex align-items-center ">
          <h5 class="card-title">{{maquina.info_tecnicas.material}}</h5>
          
        </div>
      </div>
    </div>

  </div>

</div>



  <form id="proposta-form" action="/proposta" method="POST" class="submit-form">
    <input type="hidden" name="version" id="selected-version">
    <input type="hidden" name="accessories" id="selected-accessories">
    <input type="hidden" name="produtos" id="selected-produtos">
    <input type="hidden" name="embalagens" id="selected-embalagens">
    <input type="hidden" name="selected-date" id="selected-date">
    <input type="hidden" name="linha" id="linha">
    <div class="d-grid gap-2">
      <button type="submit" id="generate-proposta" class="btn btn-default btn-lg btn-block"
        onclick="startLoading()">Montar</button>
    </div>
  </form>
</div>
<script>
  
  let info_maquina = JSON.parse('{{maquina.info_embalagem  | tojson | safe}}');

  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
  
  var buttons = document.querySelectorAll('.version');
  buttons.forEach(function (button) {
    button.addEventListener('click', function () {
      buttons.forEach(function (btn) {
        btn.classList.remove('active');
      });

      button.classList.add('active');

      let version = button.textContent.trim();
      updateInfo(version);
    });
  });

  var selectedMachine = {
    'version': "TP 85",
    'acessories': [],
    'produtos': ['liquido', 'viscoso', 'pastoso', 'po', 'granular', 'solido'],
    'embalagens': ['especial', 'sache'],
    'linha': "Linha TP"
  }

  function getCurrentDate() {
    var now = new Date();
    var day = String(now.getDate()).padStart(2, '0');
    var month = String(now.getMonth() + 1).padStart(2, '0');
    var year = now.getFullYear();
    return day + '/' + month + '/' + year;
  }

  function updateInfo(version) {
    let info_embalagem = version.replace(/\s+/g, '');
    const modeloMaquina = document.getElementById('modelo-maquina-header');
    const larguraFilme = document.getElementById('largura_filme');
    const larguraFinal = document.getElementById('largura_final');
    modeloMaquina.textContent = version;
   
    
    Object.keys(info_maquina).forEach(function(item){
      
      if (item == info_embalagem){
        larguraFilme.textContent = info_maquina[item].largura + "[mm]";
        larguraFinal.textContent = info_maquina[item].final + "[mm]";
        
      }
    });
  };
    

  const acessoriosBtn = document.querySelectorAll('.acessorio-btn');

  acessoriosBtn.forEach(button => {
    button.addEventListener('click', function () {
      this.classList.toggle('active');
      let check = this.querySelector('.fa-circle-check');
      if(check.style.display ==='none'){
        check.style.display = 'block';
      }else{
        check.style.display = 'none';
      }
      
     

      const accessoryValue = this.value;
      const accessoryIndex = selectedMachine.acessories.indexOf(accessoryValue);

      if (accessoryIndex == -1) {
        selectedMachine.acessories.push(accessoryValue);
      } else {
        selectedMachine.acessories.splice(accessoryIndex, 1);
      }


    });
  });

  function startLoading() {
    const generateButton = document.getElementById("generate-proposta");
    generateButton.style.backgroundColor = "#ccc";
    generateButton.style.cursor = "not-allowed";

    // Create the loading wheel icon element
    const loadingIcon = document.createElement("i");
    loadingIcon.classList.add("fas", "fa-circle-notch", "fa-spin");

    // Add the icon to the button
    generateButton.appendChild(loadingIcon);
  }


  function updateHiddenFields() {
    const selectedVersion = document.querySelector('.version.active').textContent.trim();
    document.getElementById('selected-version').value = selectedVersion;
    document.getElementById('linha').value = selectedMachine.linha;
    document.getElementById('selected-accessories').value = selectedMachine.acessories.join('\n');
    document.getElementById('selected-produtos').value = selectedMachine.produtos.join(', ');
    document.getElementById('selected-embalagens').value = selectedMachine.embalagens.join(', ');

    document.getElementById('selected-date').value = getCurrentDate();
  }

  $('#proposta-form').submit(function (event) {
    updateHiddenFields();
    return true;
  });
</script>
{% endblock %}

</html>