<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profills</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icones/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js' )}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light  bg-white" style="transform:translateZ(0)">
    <div class="container-fluid ">
      <a class="navbar-brand ps-3" href="#"><img class="logo" src="../static/images/pagina/logo.png" alt="Logo Profills do Brasil"></a>
      <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#text-navbar" aria-controls="text-navbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse bg-white"  id="text-navbar">
        <ul class="navbar-nav me-lg-auto mb-2 mb-lg-0 text-end">
          <li class="nav-item ">
            <a class="nav-link" href="#">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Monte sua máquina<span class="sr-only">(Página atual)</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Máquinas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profiils Responde</a>
          </li>
          <li class="nav-item e">
            <a class="nav-link" href="#">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Loja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        
      </div>
    </div>

  </nav>
   
    {% block body %}{% endblock %}
    <div style="background-color:#333333">
      <div class="container py-5">
        <div class="row text-white">
          <div class="col-12 col-lg-2 text-left text-lg-left my-3 my-lg-0">
            <a href="<? echo PATH ?>" class="text-white d-block text-decoration-none"><i class="fas fa-angle-right fa-sm mr-2"></i> Home</a>
            <a href="<? echo PATH ?>profills_responde.php" class="text-white d-block text-decoration-none"><i class="fas fa-angle-right fa-sm mr-2"></i> Profills responde</a>
            <a href="<? echo PATH ?>clientes.php" class="text-white d-block text-decoration-none"><i class="fas fa-angle-right fa-sm mr-2"></i> Clientes</a>
            <a href="<? echo PATH ?>projetos.php" class="text-white d-block text-decoration-none"><i class="fas fa-angle-right fa-sm mr-2"></i> Projetos</a>
            <a href="https://profills.lojaintegrada.com.br/" target="_blank" class="text-white d-block text-decoration-none"><i class="fas fa-angle-right fa-sm mr-2"></i> Loja</a>
            <a href="<? echo PATH ?>blog.php" class="text-white d-block text-decoration-none"><i class="fas fa-angle-right fa-sm mr-2"></i> Blog</a>
            <a href="<? echo PATH ?>contato.php" class="text-white d-block text-decoration-none"><i class="fas fa-angle-right fa-sm mr-2"></i> Contato</a>
          </div>
          <div class="col-12 col-lg-4 text-left my-3 my-lg-0">
            <div>
              <div class="lead">Vendas</div>
              <i class="fas fa-envelope mr-2"></i> comercial@profillsdobrasil.com.br<br>
              <i class="fas fa-phone mr-2"></i> +55 41 99785-1998<br>
            </div>          
            <div class="mt-4">
              <div class="lead">Peças</div>
              <i class="fas fa-envelope mr-2"></i> comercial@profillsdobrasil.com.br<br>
              <i class="fas fa-phone mr-2"></i> +55 41 99785-1998
            </div>
            <div class="mt-4">
              <div class="lead">Suporte e Assistência Técnica</div>
              <i class="fas fa-envelope mr-2"></i> suporte@profillsdobrasil.com.br<br>
              <i class="fas fa-phone mr-2"></i> +55 14 3714-3425
            </div>
            <div class="mt-4">
              <div class="lead">Compras (Fornecedores)</div>
              <i class="fas fa-envelope mr-2"></i> compras@profillsdobrasil.com.br<br>
              <i class="fas fa-phone mr-2"></i> +55 41 9769-5013
            </div>
          </div>
          <div class="col-12 col-lg-6 text-left">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4723.680314592945!2d-49.270430385565454!3d-25.43094164571456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce46adb52fd23%3A0xfc45682bd3499a57!2sR.%20Mal.%20Deodoro%2C%20717%20-%20Centro%2C%20Curitiba%20-%20PR%2C%2080020-320!5e0!3m2!1spt-BR!2sbr!4v1696355065518!5m2!1spt-BR!2sbr" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark py-3">
      <div class="container text-white-50 text-center d-block d-lg-flex justify-content-between flex-wrap text-center">
        <div>Profills do Brasil - 22.198.308/0001-26 | Todos os direitos reservados - Sistema por gmdkaio@gmail.com</div>
        <div class="d-block text-center my-lg-0 my-3"> 
        <a href="https://www.linkedin.com/company/profillsdobrasil/" target="_blank" class="text-white-50"><i class="fab fa-linkedin mx-2 fa-lg"></i></a>
          <a href="https://www.facebook.com/profillsbrasil/" target="_blank" class="text-white-50"><i class="fab fa-facebook mx-2 fa-lg"></i></a>
          <a href="https://www.instagram.com/profillsdobrasil/" target="_blank" class="text-white-50"><i class="fab fa-instagram mx-2 fa-lg"></i></a>
          <a href="https://www.youtube.com/channel/UCQhaNOzqbkYnZlknSd79zEw" target="_blank" class="text-white-50"><i class="fab fa-youtube ml-2 fa-lg"></i></a>
        </div>
      </div>
    </div>
      </div>
</body>
</html>