{% extends 'base.html' %}

{% block head %}
<title>Profills</title>
<link rel="icon" type="image/x-icon" href="/static/images/icones/favicon.ico">
{% endblock %}

{% block body %}
<nav class="navbar fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="logo" src="../static/images/pagina/logo.png" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="navbar navbar-expand-sm bg-light">
  
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                  Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                  Contato
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#montar">
                  Monte sua máquina
                </a>
            </li>
        </ul>
    </nav>
      </div>
    </div>
  </nav>
  <div class="p-5 text-center bg-image" style="  
  background-image: url('https://www.profills.com/images/topo-fundo2.jpg');
  height: 540px;
  margin-top: 0;"
  >
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <form class="user_form" id="user-info-form">
              <br>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="tel" class="form-control" name="celular" id="celular" placeholder="Número de celular" required>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" class="form-control" name="empresa" id="empresa" placeholder="Nome da empresa" required>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" class="form-control" name="endereco" id="endereco" placeholder="Endereço(Opcional)">
                </div>
              </div>
              <br>
              <div class="col">
                <div class="form-outline">
                  <input type="text" class="form-control" name="cnpj" id="cnpj" placeholder="CNPJ(Opcional)">
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-default btn-lg btn-block" id="submit-btn">Enviar</button>
            </form>
        </div>
    </div>
</div>
<br><br>
<section id="montar" class="montagem">
    <h1>Monte sua Máquina</h1>
    <h3>Utilize nosso site e descubra qual a máquina ideal para o seu produto</h3>
    <br><br>
    <form id="filter-form">
        <section class="grid main-grid">
            <section class="grid grid-embalagens">
                <div class="item nav">
                    <div class="texto">Selecione uma embalagem</div>
                </div>
                <div class="item content">
                    <div class="button-row">
                        <div class="button-row-inner">
                            <button type="button" class="embalagem-btn" value="1">
                                <img src="../static/images/embalagens/gabletop.png" alt="Gable Top">
                                <span>Cartonada</span>
                            </button>
                            <button type="button" class="embalagem-btn" value="2">
                                <img src="../static/images/embalagens/pouch.png" alt="Stand-Up Pouch">
                                <span>Pouch</span>
                            </button>
                            <button type="button" class="embalagem-btn" value="3">
                                <img src="../static/images/embalagens/especiais.png" alt="Especiais">
                                <span>Especiais</span>
                            </button>
                            <button type="button" class="embalagem-btn" value="4">
                                <img src="../static/images/embalagens/sache.png" alt="Sachê">
                                <span>Sachê</span>
                            </button>
                        </div>
                        <div class="button-row-inner">
                            <button type="button" class="embalagem-btn" value="5">
                                <img src="../static/images/embalagens/garrafa.png" alt="Garrafa">
                                <span>Garrafa</span>
                            </button>
                            <button type="button" class="embalagem-btn" value="6">
                                <img src="../static/images/embalagens/frasco.png" alt="Frasco">
                                <span>Frasco</span>
                            </button>
                            <button type="button" class="embalagem-btn" value="7">
                                <img src="../static/images/embalagens/fardo.png" alt="Fardo">
                                <span>Fardo</span>
                            </button>
                            <button type="button" class="embalagem-btn" value="8">
                                <img src="../static/images/embalagens/pote.png" alt="Pote">
                                <span>Pote</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="grid grid-produtos">
                <div class="item nav">
                    <div class="texto">Selecione um tipo de produto</div>
                </div>
                <div class="item content">
                    <div class="button-row">
                        <div class="button-row-inner">
                            <button type="button" class="produto-btn" value="1">
                                <img src="../static/images/produtos/liquido-fino.png" alt="Líquido fino">
                                <span>Líquido</span>
                            </button>
                            <button type="button" class="produto-btn" value="2">
                                <img src="../static/images/produtos/liquido-medio.png" alt="Líquido médio">
                                <span>Viscoso</span>
                            </button>
                            <button type="button" class="produto-btn" value="3">
                                <img src="../static/images/produtos/liquido-viscoso.png" alt="Líquido viscoso">
                                <span>Pastoso</span>
                            </button>
                        </div>
                        <div class="button-row-inner">
                            <button type="button" class="produto-btn" value="4">
                                <img src="../static/images/produtos/pos.png" alt="Pó">
                                <span>Pó</span>
                            </button>
                            <button type="button" class="produto-btn" value="5">
                                <img src="../static/images/produtos/granular.png" alt="Granular">
                                <span>Granular</span>
                            </button>
                            <button type="button" class="produto-btn" value="6">
                                <img src="../static/images/produtos/solidos.png" alt="Sólido">
                                <span>Sólido</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <br>
        <button type="submit" class="btn btn-dark shadow-none">Filter</button>
    </form>
<br><br>
<div id="card-container" class="flexbox">
</div>
</section>
<script>
    var Maquinas = JSON.parse('{{ maquinas|safe }}');
    var embalagem = 0;
    var produto = 0;

    $(document).ready(function() {
      $('#telefone').inputmask();
    });

    $('#filter-form button[type="submit"]').prop('disabled', true);

    $('#user-info-form').submit(function (event) {
        event.preventDefault();

        var formData = {
            nome: $('#nome').val(),
            endereco: $('#endereco').val(),
            celular: $('#celular').val(),
            email: $('#email').val(),
            empresa: $('#empresa').val(),
            cnpj: $('#cnpj').val()
        };

        $.ajax({
            type: 'POST',
            url: '/user-info',
            data: formData,
            success: function (response) {
                console.log('User information submitted successfully.');
                disableForm();
                scrollToSection('montar');
                $('#filter-form button[type="submit"]').prop('disabled', false);
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    function disableForm() {
    const form = document.getElementById("user-info-form");
    const elements = form.elements;

    for (let i = 0; i < elements.length; i++) {
      elements[i].disabled = true;
    }

    const submitButton = form.querySelector("#submit-btn");
    submitButton.innerText = "Enviado";
  }

  function scrollToSection(sectionId) {
    const section = document.getElementById(sectionId);
    const offsetTop = section.offsetTop;
    window.scroll({
      top: offsetTop,
      behavior: "smooth",
    });
  }


    function setFilterValues() {
        $('#embalagem').val(embalagem);
        $('#produto').val(produto);
    }

    $('.embalagem-btn').click(function () {
        embalagem = parseInt($(this).val());
        setFilterValues();
    });

    $('.produto-btn').click(function () {
        produto = parseInt($(this).val());
        setFilterValues();
    });

    function generateCardHtml(machine) {
        return `
        <div class='card' onclick="redirectToMachinePage('${machine.pagina}')">
            <div class='card-name'>
                <div class='texto-card' alt='${machine.nome}'>${machine.linha}</div>
            </div>
            <img src='${machine.imagem}' class='center'>
            <hr>
            <div class='container'>
                <h4>${machine.nome}</h4>
                <p>${machine.descricao}</p>
            </div>
        </div>
    `;
    }

    function redirectToMachinePage(pagina) {
        window.location.href = `/maquinas/${pagina}`;
    }


    function animateCards() {
        const cards = $('.card');
        cards.each(function (index) {
            const card = $(this);
            setTimeout(function () {
                card.addClass('animate');
            }, index * 50);
        });
    }

    $('#filter-form').submit(function (event) {
        event.preventDefault();

        var formData = {
            embalagem: embalagem,
            produto: produto
        };

        $.ajax({
            type: 'POST',
            url: '/filter',
            data: formData,
            success: function (response) {
                var result = response.result;
                var cardContainer = $('#card-container');

                if (result.length === 0) {
                    cardContainer.html('<p>Nenhum resultado encontrado</p>');
                } else {
                    var cardsHtml = '';
                    for (var i = 0; i < result.length; i++) {
                        var machine = Maquinas[result[i]];
                        cardsHtml += generateCardHtml(machine);
                    }
                    cardContainer.html(cardsHtml);
                    animateCards()
                }
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    const embButtons = document.querySelectorAll('.embalagem-btn');
    const prodButtons = document.querySelectorAll('.produto-btn');

    embButtons.forEach(button => {
        button.addEventListener('click', function () {
            const isActive = this.classList.contains('active');
            embButtons.forEach(btn => btn.classList.remove('active'));
            if (!isActive) {
                this.classList.add('active');
                embalagem = parseInt(this.value);
            } else {
                embalagem = 0;
            }
            setFilterValues();
        });
    });

    prodButtons.forEach(button => {
        button.addEventListener('click', function () {
            const isActive = this.classList.contains('active');
            prodButtons.forEach(btn => btn.classList.remove('active'));
            if (!isActive) {
                this.classList.add('active');
                produto = parseInt(this.value);
            } else {
                produto = 0;
            }
            setFilterValues();
        });
    });

</script>
{% endblock %}
