{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/main.css">

{% endblock %}

{% block body %}
<div class="container-fluid topo" style="background-image: url('/static/images/imagem-topo-site.jpg'); height: auto;">
    <section class="container-fluid " id="dados">
        <p class="fs-3 fw-bold text-light text-center"> Preencha seus dados para começar ! </p>
        <div class="container-fluid user-form grid gap-3 bg-white ">
            <form class="user-form" id="user-info-form">
                <div class="row md-center">
                    <div class="col">
                        <label for="nome" class="form-label">Nome </label>
                        <input type="text" class="form-control form-control-lg" id="nome" name="nome"
                            placeholder="Insira seu nome" minlength="4" value="{{ request.cookies.get('nome', '') }}"
                            required>
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col-md-6 col-sm-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control form-control-lg" id="email" name="email"
                            placeholder="Insira seu e-mail" value="{{ request.cookies.get('email', '') }}" required
                            autocomplete="on">
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label for="celular" class="form-label">Celular</label>
                        <input type="tel" class="form-control form-control-lg" name="celular" id="celular"
                            placeholder="Número de celular" value="{{ request.cookies.get('celular', '') }}" required>
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col">
                        <label for="empresa" class="form-label">Nome da Empresa</label>
                        <input type="text" class="form-control form-control-lg" name="empresa" id="empresa"
                            placeholder="Nome da sua empresa" value="{{ request.cookies.get('empresa', '') }}" required>
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col">
                        <label for="endereco" class="form-label ">Endereço da Empresa</label>
                        <input type="text" class="form-control form-control-lg" name="endereco" id="endereco"
                            placeholder="Insira o endereço da sua empresa(Opcional)"
                            value="{{ request.cookies.get('endereco', '') }}">
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col-md-6 col-sm-12">
                        <label for="CEP" class="form-label">CEP</label>
                        <input type="text" class="form-control form-control-lg" name="CEP" id="CEP"
                            placeholder="00000-000(Opcional)" value="{{ request.cookies.get('CEP', '') }}">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="cidade" class="form-label">Cidade</label>
                        <input type="text" class="form-control form-control-lg" name="cidade" id="cidade"
                            placeholder="Cidade(Opcional)" value="{{ request.cookies.get('cidade', '') }}">
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col-md-4 col-sm-12">
                        <label for="end-numero" class="form-label ">Numero</label>
                        <input type="text" class="form-control form-control-lg" name="end-numero" id="end-numero"
                            placeholder="Número(Opcional)" value="{{ request.cookies.get('end-numero', '') }}">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label for="estado" class="form-label ">Estado</label>
                        <input class="form-control form-control-lg" list="lista-estados" id="estado"
                            placeholder="Selecionar(Opcional)" value="{{ request.cookies.get('estado', '') }}">
                        <datalist id="lista-estados">
                            <option value="Acre">
                            <option value="Alagoas">
                            <option value="Amapá">
                            <option value="Amazonas">
                            <option value="Bahia">
                            <option value="Ceará">
                            <option value="Distrito Federal">
                            <option value="Espírito Santo">
                            <option value="Goiás">
                            <option value="Maranhão">
                            <option value="Mato Grosso">
                            <option value="Mato Grosso do Sul">
                            <option value="Minas Gerais">
                            <option value="Pará">
                            <option value="Paraíba">
                            <option value="Paraná">
                            <option value="Pernambuco">
                            <option value="Piauí">
                            <option value="Rio de Janeiro">
                            <option value="Rio Grande do Norte">
                            <option value="Rio Grande do Sul">
                            <option value="Rondônia">
                            <option value="Roraima">
                            <option value="Santa Catarina">
                            <option value="São Paulo">
                            <option value="Sergipe">
                            <option value="Tocantins">
                            <option value="Outro">
                        </datalist>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label for="cidade" class="form-label">País</label>
                        <input type="text" class="form-control form-control-lg" name="pais" id="pais"
                            placeholder="Pais(Opcional)" value="{{ request.cookies.get('pais', '') }}">
                    </div>

                </div>
                <div class="row md-center mt-2">
                    <div class="col">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input type="text" class="form-control form-control-lg" name="cnpj" id="cnpj"
                            placeholder="CNPJ(Opcional)" value="{{ request.cookies.get('cnpj', '') }}">
                    </div>
                </div>
                <br>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="privacyCheckbox">
                    <label class="form-check-label" for="privacyCheckbox">
                        Eu concordo com os <a href="#" id="openTermsLink">termos de privacidade</a>
                    </label>
                </div>
                <br>


                <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="termsModalLabel">Termos de privacidade</h5>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna sapien, efficitur
                                sed nisi vitae, sollicitudin commodo arcu. Maecenas condimentum id magna quis
                                ullamcorper. Vestibulum lacinia, ante a pharetra porta, eros ipsum porta est, ac
                                ullamcorper nunc justo sed ex. Cras id ullamcorper dui, in vehicula turpis. Donec lectus
                                orci, congue congue nibh dignissim, finibus convallis turpis. Interdum et malesuada
                                fames ac ante ipsum primis in faucibus. In eget scelerisque ante. Vivamus consequat
                                luctus quam scelerisque malesuada. Mauris laoreet bibendum accumsan. Vivamus varius
                                lectus in leo aliquet scelerisque. Duis in fringilla erat, sed vehicula est. Aliquam
                                nisi ex, interdum ac massa nec, vulputate tincidunt velit. Interdum et malesuada fames
                                ac ante ipsum primis in faucibus. Cras ultrices interdum varius. Maecenas vel iaculis
                                quam.

                                Integer scelerisque nisi lectus, at semper tortor tempor sed. Proin accumsan laoreet
                                viverra. Mauris eros lorem, pellentesque at consectetur in, porta eget magna. In
                                fringilla rhoncus sem eget suscipit. Pellentesque habitant morbi tristique senectus et
                                netus et malesuada fames ac turpis egestas. Morbi consequat elit ac nulla laoreet, vitae
                                semper justo hendrerit. Maecenas in lorem magna. Sed sodales dui augue, a sollicitudin
                                mauris euismod eget. Proin suscipit convallis augue, tincidunt sagittis ligula porta
                                nec. Fusce sollicitudin elementum sem eget gravida.

                                Donec sed eleifend arcu. Nam feugiat faucibus lacus, ac posuere mi molestie at.
                                Pellentesque tincidunt lectus vitae metus mollis, vel volutpat diam porttitor. Integer
                                varius vehicula posuere. Donec sem urna, accumsan vel dolor ut, bibendum vestibulum
                                tellus. Praesent elementum eros sit amet justo scelerisque, elementum hendrerit tortor
                                dictum. Proin elit odio, egestas non vehicula efficitur, commodo sit amet odio. Cras
                                viverra lobortis dolor in cursus. Aliquam id arcu in dui pretium ullamcorper.

                                Aliquam ultrices malesuada odio in interdum. Aliquam quis fermentum mauris, ac
                                ullamcorper libero. Mauris nec ligula blandit, volutpat erat eu, dignissim mauris. Nunc
                                velit diam, consequat ac maximus eu, pretium nec metus. Vivamus nec nunc pretium,
                                tincidunt lorem at, malesuada mauris. Donec neque justo, facilisis vel sollicitudin
                                quis, lobortis ac velit. Praesent dignissim arcu ut velit malesuada, dapibus volutpat
                                justo lacinia. Sed massa arcu, commodo non arcu a, sagittis sagittis justo. Ut gravida
                                consectetur tincidunt. Morbi sed odio vel nisl auctor ornare. Donec sodales nibh quis mi
                                volutpat aliquet. Etiam eget sapien augue. Vivamus vulputate ut ante ornare semper. Sed
                                maximus at lectus lobortis auctor. In hac habitasse platea dictumst.

                                Quisque ornare in metus at sodales. Fusce imperdiet neque lorem, sit amet varius lectus
                                pellentesque non. Aenean tempus blandit ante non laoreet. Nulla non risus ornare,
                                sodales turpis nec, viverra leo. Maecenas ornare venenatis tempus. Phasellus tempor
                                velit nisl, id elementum ligula tristique sit amet. Nam metus sem, luctus in mi eget,
                                viverra varius justo. Sed dui tortor, eleifend eget faucibus quis, laoreet nec arcu.
                                Maecenas at neque non velit porta posuere. Sed sodales aliquam imperdiet. Suspendisse
                                ultricies risus id maximus condimentum. Integer pretium sit amet est mollis commodo.

                                Aliquam elit sem, bibendum eu accumsan eu, blandit id tortor. Integer auctor diam lacus,
                                non bibendum tellus vehicula id. Duis et dui ut velit condimentum suscipit ac vitae
                                ipsum. Vivamus maximus maximus augue eget imperdiet. Integer cursus luctus sem, in
                                malesuada tellus convallis sed. Morbi pulvinar sem in odio hendrerit, ut facilisis magna
                                pharetra. Vivamus sit amet dolor semper, fringilla ex non, malesuada purus. Mauris at
                                nisi porttitor, tempus ante pretium, hendrerit odio. Fusce aliquam tincidunt mauris,
                                sollicitudin blandit turpis ullamcorper non.

                                Morbi ornare tortor nec nisi scelerisque, interdum vulputate felis dapibus. Nulla
                                tincidunt finibus turpis, sollicitudin eleifend nunc hendrerit at. Maecenas auctor erat
                                quis porttitor tristique. Nulla aliquam at nulla a dictum. Cras purus velit, feugiat sed
                                vestibulum vel, molestie non nunc. Phasellus fringilla id lacus a facilisis. Aliquam
                                cursus tincidunt augue vel scelerisque. Aenean leo tortor, porta vitae odio ut,
                                facilisis rutrum nunc. Phasellus interdum nulla nisi, in viverra quam venenatis eu.
                                Aliquam imperdiet dapibus rhoncus. Duis congue vestibulum maximus. Sed quis maximus
                                tortor. Sed pretium tristique est ac finibus.

                                Fusce tincidunt purus at blandit pulvinar. Vestibulum consectetur, quam nec interdum
                                efficitur, urna ante lacinia nunc, in ultricies felis augue et ex. Nulla eu vestibulum
                                arcu, lacinia pellentesque magna. Pellentesque lacinia, lacus sollicitudin tempus
                                tristique, nisl metus sollicitudin eros, ac vestibulum ante nisi non est. In cursus quam
                                nec hendrerit lobortis. Vivamus et nulla ut ligula efficitur sodales. Integer ac rutrum
                                risus, ac consequat augue. Quisque vel diam ac turpis aliquam finibus quis quis leo.
                                Mauris dapibus cursus sodales. Duis quam massa, porta eget velit sit amet, blandit
                                posuere tellus. Phasellus posuere nunc vel varius egestas.

                                Fusce pulvinar ipsum ut magna laoreet, in gravida mauris sollicitudin. Mauris hendrerit
                                feugiat efficitur. Mauris et viverra dolor, eget venenatis libero. Mauris elementum
                                pretium lacus id pellentesque. Sed vitae ultrices eros. Nam iaculis vehicula metus vitae
                                euismod. Phasellus sit amet semper metus, vel sollicitudin leo. Morbi a porta arcu.
                                Integer non molestie arcu, id molestie ante. Suspendisse egestas ut diam convallis
                                laoreet. Suspendisse eu volutpat leo.

                                Pellentesque sem erat, bibendum id eros vel, porta porta felis. Proin erat libero,
                                interdum ac eleifend sed, viverra eget arcu. Sed eu cursus orci. Sed blandit venenatis
                                tortor eget varius. Etiam pretium nec nisi id facilisis. Suspendisse ultrices metus vel
                                arcu porttitor consequat. Donec eu sapien quam. Aliquam cursus diam id nibh rutrum, eu
                                laoreet nisl auctor. Mauris hendrerit id dui congue finibus. Etiam sit amet fringilla
                                nunc. Aliquam cursus rhoncus purus, id aliquam dolor hendrerit nec. In imperdiet
                                pellentesque lorem, eu ultrices urna feugiat ac.

                                Etiam maximus dignissim dui, nec auctor turpis suscipit vel. Curabitur dignissim
                                vestibulum facilisis. Donec est ante, blandit faucibus porta sed, elementum eu justo.
                                Sed cursus nisi nec nisi sollicitudin, quis rutrum nisi tincidunt. Aenean euismod
                                imperdiet lectus, id tincidunt nulla aliquam sed. In hac habitasse platea dictumst.
                                Maecenas porta dignissim lorem et porta. Maecenas et leo nec ante varius lacinia.
                                Maecenas mollis, urna eget condimentum dapibus, ex ante feugiat diam, quis dapibus
                                ligula ex eu lacus. Suspendisse ac nibh in nulla dictum scelerisque nec eget diam. Nulla
                                nec euismod tellus. Aliquam molestie lacus quis turpis laoreet commodo.

                                Sed vitae elit faucibus, imperdiet leo ac, volutpat mi. Maecenas posuere odio in diam
                                ultrices tincidunt. Vivamus mattis aliquam tellus, vel viverra dolor auctor vehicula.
                                Aenean ex diam, semper a imperdiet sed, mollis eget purus. Mauris ac libero enim.
                                Maecenas interdum et tortor at ullamcorper. Nam vel neque tempor, finibus diam non,
                                gravida eros. Duis pharetra a nibh vitae eleifend. Vestibulum tristique rutrum varius.
                                Nunc fermentum a enim non efficitur. Etiam elit magna, bibendum at purus sed,
                                pellentesque fermentum tortor. Mauris vitae pulvinar purus. Etiam condimentum hendrerit
                                posuere. Cras eget aliquam leo. Integer eu augue et turpis malesuada gravida.

                                Morbi eu varius mauris. Curabitur vel leo malesuada, faucibus nisi non, interdum metus.
                                Donec consectetur velit sit amet egestas porttitor. Ut tempor, quam in ultricies
                                blandit, purus lorem pharetra erat, at viverra dolor dui sed leo. Phasellus rutrum lorem
                                eu velit pharetra, vitae semper quam ornare. Morbi semper ipsum sed diam lobortis
                                ultricies. Ut condimentum pulvinar turpis ut lobortis. Etiam at dapibus urna. Praesent
                                eu cursus ligula, suscipit consectetur nisi. Suspendisse dolor arcu, finibus a velit ut,
                                sagittis commodo nisi. Sed molestie libero eget augue tempus, sit amet egestas risus
                                aliquam. Mauris metus arcu, aliquam id lacinia nec, consequat eget nunc. Aenean
                                fermentum justo quis tortor tincidunt eleifend. Nulla feugiat sapien ipsum, et auctor
                                quam accumsan et.

                                Suspendisse aliquam augue ut malesuada efficitur. Etiam sed pulvinar sapien. Phasellus
                                arcu libero, accumsan dictum tortor id, sodales volutpat felis. Suspendisse tristique
                                libero eros, vel gravida augue imperdiet nec. Donec ut justo vitae dolor vulputate
                                rhoncus. Quisque vitae dignissim tellus. Morbi in metus tortor. Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit. In aliquam vulputate lacinia. Phasellus molestie arcu
                                vitae arcu commodo, et elementum justo sagittis. Sed rhoncus posuere enim quis euismod.
                                Sed ac est in est sollicitudin ultricies.

                                Praesent sollicitudin sit amet arcu eget rutrum. Maecenas nec iaculis ipsum. Ut vel nisl
                                vitae magna hendrerit lobortis id sit amet libero. Ut volutpat ultricies nunc, quis
                                sollicitudin ipsum auctor id. Ut sed tortor mi. Duis quis imperdiet sapien. Phasellus
                                vehicula tortor vitae ultricies ultricies. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.

                                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                himenaeos. Nullam pharetra ornare erat sed tempus. Phasellus pretium neque nisl, vel
                                auctor nulla rhoncus vel. Mauris eu malesuada felis. Nulla vel metus convallis, gravida
                                ante eget, pretium nisl. Maecenas ac dictum orci. Phasellus lacus ligula, tempus ac
                                faucibus viverra, posuere et velit. Ut id pharetra felis. Donec urna erat, euismod eget
                                dolor sed, aliquet scelerisque arcu. Sed massa augue, euismod in sapien sit amet,
                                ultricies porta urna. Maecenas pulvinar porttitor nisi, nec cursus erat blandit eget.
                                Nullam tincidunt urna tellus, non auctor quam tincidunt at. Duis sodales in nibh sit
                                amet fringilla. Mauris faucibus feugiat cursus. Ut sagittis lacus elit, non laoreet
                                sapien facilisis vitae. Etiam aliquet vel augue non mollis.

                                Phasellus pretium quis sapien a posuere. Fusce vitae aliquam tortor, eu luctus nunc.
                                Curabitur id gravida est, non euismod mauris. Duis fermentum, nulla id ullamcorper
                                aliquet, turpis est malesuada felis, a lacinia dui justo nec lacus. Integer.
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2 col-12">
                    <button type="submit" class="btn btn-default btn-lg btn-block" id="submit-btn">Enviar</button>
                </div>
            </form>
        </div>
    </section>
</div>

<div class="modal fade" id="modalCookies" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cookies</h5>
            </div>
            <div class="modal-body">
                Esse site usa cookies para facilitar o uso das funções para o usuário. Aceitar cookies?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="naoAceitoBtn">Não aceito</button>
                <button type="button" class="btn btn-primary" id="aceitoBtn">Aceito</button>
            </div>
        </div>
    </div>
</div>

<br><br>
<section id="montar" class="container-fluid px-5">
    <p class="display-3 fw-bold color-profills text-center">Monte sua Máquina</p>
    <h3 class=" text-center"> Preencha os dados abaixo e descubra qual a máquina ideal para o seu produto.</h3>
    <br><br>

    <form id="filter-form" class="mx-auto" style="width: 90%">
        <div class="container overlow-hidden">
            <div class="row gy-2 gx-5">
                <section class="col-lg-6">
                    <div class="header-nav row py-2">
                        <p class="h4 text-light">Selecione uma embalagem</p>
                    </div>
                    <div class="row py-3   border-bottom border-1 border-secondary">
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn " value="1">
                                <img src="../static/images/embalagens/gabletop.png" alt="Gable Top">
                                <p><span>Cartonada</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn " value="2">
                                <img src="../static/images/embalagens/pouch.png" class=" btn-itens"
                                    alt="Stand-Up Pouch">
                                <p><span>Pouch</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="3">
                                <img src="../static/images/embalagens/especiais.png" alt="Especiais">
                                <p><span>Especiais</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="4">
                                <img src="../static/images/embalagens/sache.png" alt="Sachê">
                                <p><span>Sachê</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="5">
                                <img src="../static/images/embalagens/garrafa.png" alt="Garrafa">
                                <p><span>Garrafa</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="6">
                                <img src="../static/images/embalagens/frasco.png" alt="Frasco">
                                <p><span>Frasco</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="7">
                                <img src="../static/images/embalagens/fardo.png" alt="Fardo">
                                <p><span>Fardo</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="8">
                                <img src="../static/images/embalagens/pote.png" alt="Pote">
                                <p><span>Pote</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>


                    </div>
                </section>
                <section class="col-lg-6">
                    <div class="header-nav row py-2">
                        <p class="h4 text-light">Selecione um tipo de produto</p>
                    </div>
                    <div class="row py-3  border-bottom border-1 border-secondary">
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="1">
                                <img src="../static/images/produtos/liquido-fino.png" class="circle" alt="Líquido fino">
                                <p><span>Líquidos</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="2">
                                <img src="../static/images/produtos/liquido-medio.png" alt="Líquido médio">
                                <p><span>Viscoso</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="3">
                                <img src="../static/images/produtos/liquido-viscoso.png" alt="Líquido viscoso">
                                <p><span>Pastoso</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>

                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="4">
                                <img src="../static/images/produtos/pos.png" alt="Pó">
                                <p><span>Pó</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="5">
                                <img src="../static/images/produtos/granular.png" alt="Granular">
                                <p><span>Granular</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="6">
                                <img src="../static/images/produtos/solidos.png" alt="Sólido">
                                <p><span>Sólido</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>

                    </div>
                </section>
                <br>
            </div>
            <div class="row gy-2 gx-5 my-1">
                <form id="product-info-form">
                    <section class="col-lg-6">
                        <div class="py-3">
                            <label for="descricao-produto">Descreva seu produto</label>
                            <textarea name="descricao-produto" cols="30" rows="3" class="form-control form-control-lg"
                                placeholder="Descreva o produto a ser envasado..." id="descricao-produto"></textarea>
                        </div>
                    </section>
                    <section class="col-lg-6">
                        <div class="row py-3">
                            <div class="col-6">
                                <label for="peso-produto">Peso por embalagem</label>
                                <input type="number" class="form-control form-control-lg" id="peso-produto">
                            </div>
                            <div class="col-6">
                                <label for="unidade-peso">Unidade de Peso</label>
                                <select class="form-select" aria-label="Default select example" id="unidade-peso">
                                    <option selected>Selecionar ..</option>
                                    <option value="Kg">Kilo (Kg.)</option>
                                    <option value="Gr">Gramas(Gr.)</option>
                                    <option value="Mg">Miligramas(Mg.)</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <button id="submit-product-info" style="display: none;">Submit Product Info</button>
                </form>
                <br>
            </div>
            <div class="d-grid  m-0 col-12">
                <button type="submit" class="btn btn-default btn-lg btn-block" id="filterbtn">Preencha seus dados para
                    iniciar a busca</button>
            </div>
        </div>
        <br>
    </form>
    </div>
</section>
<br><br>
<section id="resultados" class="resultados">
    <p hidden>scrolling</p>
    <div class="container">
        <div id="card-container" class="row">

        </div>
    </div>
</section>

<script>
    var Maquinas = JSON.parse('{{ maquinas|safe }}');
    var embalagem = 0;
    var produto = 0;

    var filterBtn = document.getElementById("filterbtn");
    var submitBtn = document.getElementById("submit-product-info");

    document.getElementById('openTermsLink').addEventListener('click', function (e) {
        e.preventDefault();
        $('#termsModal').modal('show');
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            return parts.pop().split(';').shift();
        }
        return null;
    }



    $(window).on('load', function () {
        $('#modalCookies').modal('show');
    });

    var cookiesAccepted = false;

    var naoAceitoBtn = document.getElementById('naoAceitoBtn');
    var aceitoBtn = document.getElementById('aceitoBtn');

    naoAceitoBtn.addEventListener('click', function () {
        cookiesAccepted = false;
        sendCookiesInfoAndClose();
    });

    aceitoBtn.addEventListener('click', function () {
        cookiesAccepted = true;
        sendCookiesInfoAndClose();
    });

    function sendCookiesInfoAndClose() {
        console.log('Cookies Accepted:', cookiesAccepted);

        $.ajax({
            type: 'POST',
            url: '/update_cookies',
            contentType: 'application/json',
            data: JSON.stringify({ cookiesAccepted: cookiesAccepted }),
            success: function (data) {
                $('#modalCookies').modal('hide');
            },
            error: function (xhr, status, error) {
                console.error('Error:', status, error);
            }
        });
    }


    function preencherEndereco() {
        var cep = $('#CEP').val().replace(/\D/g, '');
        if (cep.length === 8) {
            $.getJSON('https://viacep.com.br/ws/' + cep + '/json/', function (data) {
                if (!("erro" in data)) {
                    $('#endereco').val(data.logradouro);
                    $('#end-numero').val('');
                    $('#cidade').val(data.localidade);
                    $('#estado').val(data.uf);
                    $('#pais').val('Brasil');
                } else {
                    alert('CEP não encontrado.');
                }
            });
        }
    }

    $(document).ready(function () {
        $('#CEP').on('input', preencherEndereco);
    });

    filterBtn.addEventListener("click", function () {
        submitBtn.click();
        console.log('triggered')
    });

    function validarCNPJ(cnpj) {
        cnpj = cnpj.replace(/[^\d]+/g, ''); // Remove caracteres não numéricos

        if (cnpj != '') {
            if (cnpj.length !== 14) {
                return false; // CNPJ deve ter 14 dígitos
            }

            // Verificação dos dígitos verificadores
            var tamanho = cnpj.length - 2;
            var numeros = cnpj.substring(0, tamanho);
            var digitos = cnpj.substring(tamanho);
            var soma = 0;
            var pos = tamanho - 7;

            for (var i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2) {
                    pos = 9;
                }
            }

            var resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);

            if (resultado !== parseInt(digitos.charAt(0), 10)) {
                return false;
            }


            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;

            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2) {
                    pos = 9;
                }
            }

            resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);

            if (resultado !== parseInt(digitos.charAt(1), 10)) {
                return false;
            }

            return true;
        }

        else {
            return true;
        }

    }

    let confirma = false;
    $('#user-info-form').submit(function (event) {
        event.preventDefault();

        // Obtenha o valor do CNPJ
        var cnpj = $('#cnpj').val();

        // Faça a validação de CNPJ (você deve implementar a função validarCNPJ)
        if (!validarCNPJ(cnpj)) {
            alert("CNPJ inválido. Preencha novamente.");
            return; // Impede o envio do formulário se o CNPJ for inválido
        }

        // Se o CNPJ for válido, continue com o envio do formulário
        var formData = {
            nome: $('#nome').val(),
            endereco: $('#endereco').val(),
            celular: $('#celular').val(),
            email: $('#email').val(),
            empresa: $('#empresa').val(),
            cnpj: cnpj // Use o valor do CNPJ validado
        };

        $.ajax({
            type: 'POST',
            url: '/user-info',
            data: formData,
            success: function (response) {
                console.log('User information submitted successfully.');
                disableForm();
                scrollToSection('montar');
                $('#filter-form button[type="submit"]').prop('disabled', false);
                const filterbtn = document.getElementById("filterbtn")
                filterbtn.innerText = "Buscar Máquinas";
                confirma = true;
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });


    $('#submit-product-info').click(function (event) {
        event.preventDefault();


        var formData = {
            descricao_produto: $('#descricao-produto').val(),
            peso_produto: $('#peso-produto').val(),
            unidade_peso: $('#unidade-peso').val()
        };

        console.log('Form data: ', formData)

        if (!formData.descricao_produto || !formData.peso_produto || !formData.unidade_peso) {
            console.log('Nothing being passed.');
            // Display a message or take appropriate action here
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/product-info',
            data: formData,
            success: function (response) {
                console.log('Product information submitted successfully.');
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    function disableForm() {
        const form = document.getElementById("user-info-form");
        const elements = form.elements;

        for (let i = 0; i < elements.length; i++) {
            elements[i].disabled = true;
        }

        const submitButton = form.querySelector("#submit-btn");
        submitButton.innerText = "Enviado";
    }

    function scrollToSection(sectionId) {
        const section = document.getElementById(sectionId);
        const offsetTop = section.offsetTop;
        window.scroll({
            top: offsetTop,
            behavior: "smooth",
        });
    }


    function setFilterValues() {
        $('#embalagem').val(embalagem);
        $('#produto').val(produto);
    }

    $('.embalagem-btn').click(function () {
        embalagem = parseInt($(this).val());
        setFilterValues();
    });

    $('.produto-btn').click(function () {
        produto = parseInt($(this).val());
        setFilterValues();
    });

    function generateCardHtml(machine) {
        return `

            <div class=" col-6 col-md-4">
				<div class="news">
					<div class="img-figure">
						<div class="cat"alt='${machine.nome}'>${machine.linha}</div>
						<img src='${machine.imagem}' class="img-responsive">
					</div>	

					<div class="title">
						<h1>${machine.nome}</h1>
					</div>
					<p class="description">${machine.descricao}</p>
                    <p class="more">
						<a href='/maquinas/${machine.pagina}'>SELECIONAR</a><i class="fa fa-angle-right" aria-hidden="true"></i>   
					</p>
			    </div>
            </div>
    `;
    }

    function redirectToMachinePage(pagina) {
        window.location.href = `/maquinas/${pagina}`;
    }


    function animateCards() {
        const cards = $('.card');
        cards.each(function (index) {
            const card = $(this);
            setTimeout(function () {
                card.addClass('animate');
            }, index * 50);
        });
    }

    $('#filter-form').submit(function (event) {
        event.preventDefault();

        if (!confirma) {
            scrollToSection('dados');
            return

        }

        var formData = {
            embalagem: embalagem,
            produto: produto
        };

        $.ajax({
            type: 'POST',
            url: '/filter',
            data: formData,
            success: function (response) {
                var result = response.result;
                var cardContainer = $('#card-container');
                scrollToSection('resultados');
                if (result.length === 0) {
                    cardContainer.html('<p>Nenhum resultado encontrado, selecione outra opção.</p>');
                } else {
                    var cardsHtml = '';
                    for (var i = 0; i < result.length; i++) {
                        var machine = Maquinas[result[i]];
                        cardsHtml += generateCardHtml(machine);
                    }
                    cardContainer.html(cardsHtml);
                    animateCards()
                }
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    const embButtons = document.querySelectorAll('.embalagem-btn');
    const prodButtons = document.querySelectorAll('.produto-btn');

    embButtons.forEach(button => {
        button.addEventListener('click', function () {
            let isActive = this.classList.contains('active');
            embButtons.forEach(btn => {
                btn.classList.remove('active');
                btn.querySelector('.fa-circle-check').style.display = 'none';
            });
            if (!isActive) {
                this.classList.add('active');
                this.querySelector('.fa-circle-check').style.display = 'block';
                embalagem = parseInt(this.value);
            } else {
                embalagem = 0;
            }

            setFilterValues();
        });
    });

    prodButtons.forEach(button => {
        button.addEventListener('click', function () {
            const isActive = this.classList.contains('active');
            prodButtons.forEach(btn => {
                btn.classList.remove('active');
                btn.querySelector('.fa-circle-check').style.display = 'none';

            });
            if (!isActive) {
                this.classList.add('active');
                this.querySelector('.fa-circle-check').style.display = 'block';
                produto = parseInt(this.value);
            } else {
                produto = 0;
            }
            setFilterValues();
        });
    });

</script>
{% endblock %}