{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/main.css">

{% endblock %}

{% block body %}
<div class="container-fluid topo" style="background-image: url('/static/images/imagem-topo-site.jpg'); height: auto;">
    <section class="container-fluid " id="dados">
        <p class="fs-3 fw-bold text-light text-center"> Preencha seus dados para começar ! </p>
        <div class="container-fluid user-form grid gap-3 bg-white ">
            <form class="user-form" id="user-info-form">
                <div class="row md-center">
                    <div class="col">
                        <label for="nome" class="form-label">Nome </label>
                        <input type="text" class="form-control form-control-lg" id="nome" name="nome"
                            placeholder="Insira seu nome" minlength="4" value="{{ request.cookies.get('nome', '') }}" required>
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col-md-6 col-sm-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control form-control-lg" id="email" name="email"
                            placeholder="Insira seu e-mail" value="{{ request.cookies.get('email', '') }}" required autocomplete="on">
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label for="celular" class="form-label">Celular</label>
                        <input type="tel" class="form-control form-control-lg" name="celular" id="celular"
                            placeholder="Número de celular" value="{{ request.cookies.get('celular', '') }}" required>
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col">
                        <label for="empresa" class="form-label">Nome da Empresa</label>
                        <input type="text" class="form-control form-control-lg" name="empresa" id="empresa"
                            placeholder="Nome da sua empresa" value="{{ request.cookies.get('empresa', '') }}" required>
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col">
                        <label for="endereco" class="form-label ">Endereço da Empresa</label>
                        <input type="text" class="form-control form-control-lg" name="endereco" id="endereco"
                            placeholder="Insira o endereço da sua empresa" value="{{ request.cookies.get('endereco', '') }}" required>
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col-md-6 col-sm-12">
                        <label for="end-numero" class="form-label ">Numero</label>
                        <input type="text" class="form-control form-control-lg" name="end-numero" id="end-numero"
                            placeholder="Número" value="{{ request.cookies.get('end-numero', '') }}" required>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="cidade" class="form-label">Cidade</label>
                        <input type="text" class="form-control form-control-lg" name="cidade" id="cidade"
                            placeholder="Cidade" value="{{ request.cookies.get('cidade', '') }}" required>
                    </div>
                </div>

                <div class="row md-center mt-2">
                    <div class="col-md-4 col-sm-12">
                        <label for="CEP" class="form-label">CEP</label>
                        <input type="text" class="form-control form-control-lg" name="CEP" id="CEP"
                            placeholder="00000-000" value="{{ request.cookies.get('CEP', '') }}" required>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label for="estado" class="form-label ">Estado</label>
                        <input class="form-control form-control-lg" list="lista-estados" id="estado"
                            placeholder="Selecionar ..." value="{{ request.cookies.get('estado', '') }}">
                        <datalist id="lista-estados">
                            <option value="Acre">
                            <option value="Alagoas">
                            <option value="Amapá">
                            <option value="Amazonas">
                            <option value="Bahia">
                            <option value="Ceará">
                            <option value="Distrito Federal">
                            <option value="Espírito Santo">
                            <option value="Goiás">
                            <option value="Maranhão">
                            <option value="Mato Grosso">
                            <option value="Mato Grosso do Sul">
                            <option value="Minas Gerais">
                            <option value="Pará">
                            <option value="Paraíba">
                            <option value="Paraná">
                            <option value="Pernambuco">
                            <option value="Piauí">
                            <option value="Rio de Janeiro">
                            <option value="Rio Grande do Norte">
                            <option value="Rio Grande do Sul">
                            <option value="Rondônia">
                            <option value="Roraima">
                            <option value="Santa Catarina">
                            <option value="São Paulo">
                            <option value="Sergipe">
                            <option value="Tocantins">
                            <option value="Outro">
                        </datalist>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label for="cidade" class="form-label">País</label>
                        <input type="text" class="form-control form-control-lg" name="pais" id="pais" placeholder="Pais"
                        value="{{ request.cookies.get('pais', '') }}" required>
                    </div>

                </div>
                <div class="row md-center mt-2">
                    <div class="col">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input type="text" class="form-control form-control-lg" name="cnpj" id="cnpj"
                            placeholder="CNPJ(Opcional)" value="{{ request.cookies.get('cnpj', '') }}">
                    </div>
                </div>
                <br>
                <!-- <label>
                    <input class="form-check-input mt-0" type="checkbox" required>                    
                    Eu li e concordo com os <a href="#" id="openPopupLink">Termos de política e privacidade</a>
                </label> -->

                <div class="d-grid gap-2 col-12">
                    <button type="submit" class="btn btn-default btn-lg btn-block" id="submit-btn">Enviar</button>
                </div>
            </form>
        </div>
    </section>
</div>

<div class="modal fade" id="modalCookies" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cookies</h5>
            </div>
            <div class="modal-body">
                Esse site usa cookies para facilitar o uso das funções para o usuário. Aceitar cookies?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="naoAceitoBtn">Não aceito</button>
                <button type="button" class="btn btn-primary" id="aceitoBtn">Aceito</button>
            </div>
        </div>
    </div>
</div>

<br><br>
<section id="montar" class="container-fluid px-5">
    <p class="display-3 fw-bold color-profills text-center">Monte sua Máquina</p>
    <h3 class=" text-center"> Preencha os dados abaixo e descubra qual a máquina ideal para o seu produto.</h3>
    <br><br>

    <form id="filter-form" class="mx-auto" style="width: 90%">
        <div class="container overlow-hidden">
            <div class="row gy-2 gx-5">
                <section class="col-lg-6">
                    <div class="header-nav row py-2">
                        <p class="h4 text-light">Selecione uma embalagem</p>
                    </div>
                    <div class="row py-3   border-bottom border-1 border-secondary">
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn " value="1">
                                <img src="../static/images/embalagens/gabletop.png" alt="Gable Top">
                                <p><span>Cartonada</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn " value="2">
                                <img src="../static/images/embalagens/pouch.png" class=" btn-itens"
                                    alt="Stand-Up Pouch">
                                <p><span>Pouch</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="3">
                                <img src="../static/images/embalagens/especiais.png" alt="Especiais">
                                <p><span>Especiais</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="4">
                                <img src="../static/images/embalagens/sache.png" alt="Sachê">
                                <p><span>Sachê</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="5">
                                <img src="../static/images/embalagens/garrafa.png" alt="Garrafa">
                                <p><span>Garrafa</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="6">
                                <img src="../static/images/embalagens/frasco.png" alt="Frasco">
                                <p><span>Frasco</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="7">
                                <img src="../static/images/embalagens/fardo.png" alt="Fardo">
                                <p><span>Fardo</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <button type="button" class="embalagem-btn" value="8">
                                <img src="../static/images/embalagens/pote.png" alt="Pote">
                                <p><span>Pote</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>


                    </div>
                </section>
                <section class="col-lg-6">
                    <div class="header-nav row py-2">
                        <p class="h4 text-light">Selecione um tipo de produto</p>
                    </div>
                    <div class="row py-3  border-bottom border-1 border-secondary">
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="1">
                                <img src="../static/images/produtos/liquido-fino.png" class="circle" alt="Líquido fino">
                                <p><span>Líquidos</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="2">
                                <img src="../static/images/produtos/liquido-medio.png" alt="Líquido médio">
                                <p><span>Viscoso</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="3">
                                <img src="../static/images/produtos/liquido-viscoso.png" alt="Líquido viscoso">
                                <p><span>Pastoso</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>

                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="4">
                                <img src="../static/images/produtos/pos.png" alt="Pó">
                                <p><span>Pó</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="5">
                                <img src="../static/images/produtos/granular.png" alt="Granular">
                                <p><span>Granular</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>
                        <div class="col-6 col-sm-4 text-center">
                            <button type="button" class="produto-btn" value="6">
                                <img src="../static/images/produtos/solidos.png" alt="Sólido">
                                <p><span>Sólido</span></p>
                                <i class="fa-solid fa-circle-check item-incluido" style="display: none"></i>
                            </button>
                        </div>

                    </div>
                </section>
                <br>
            </div>
            <div class="row gy-2 gx-5 my-1">
                <form id="product-info-form">
                    <section class="col-lg-6">
                        <div class="py-3">
                            <label for="descricao-produto">Descreva seu produto</label>
                            <textarea name="descricao-produto" cols="30" rows="3" class="form-control form-control-lg"
                                placeholder="Descreva o produto a ser envasado..." id="descricao-produto"></textarea>
                        </div>
                    </section>
                    <section class="col-lg-6">
                        <div class="row py-3">
                            <div class="col-6">
                                <label for="peso-produto">Peso por embalagem</label>
                                <input type="number" class="form-control form-control-lg" id="peso-produto">
                            </div>
                            <div class="col-6">
                                <label for="unidade-peso">Unidade de Peso</label>
                                <select class="form-select" aria-label="Default select example" id="unidade-peso">
                                    <option selected>Selecionar ..</option>
                                    <option value="Kg">Kilo (Kg.)</option>
                                    <option value="Gr">Gramas(Gr.)</option>
                                    <option value="Mg">Miligramas(Mg.)</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <button id="submit-product-info" style="display: none;">Submit Product Info</button>
                </form>
                <br>
            </div>
            <div class="d-grid  m-0 col-12">
                <button type="submit" class="btn btn-default btn-lg btn-block" id="filterbtn">Preencha seus dados para
                    iniciar a busca</button>
            </div>
        </div>
        <br>
    </form>
    </div>
</section>
<br><br>
<section id="resultados" class="resultados">
    <p hidden>scrolling</p>
    <div class="container">
        <div id="card-container" class="row">

        </div>
    </div>
</section>

<script>
    var Maquinas = JSON.parse('{{ maquinas|safe }}');
    var embalagem = 0;
    var produto = 0;

    var filterBtn = document.getElementById("filterbtn");
    var submitBtn = document.getElementById("submit-product-info");

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            return parts.pop().split(';').shift();
        }
        return null; 
    }


    $(window).on('load', function () {
        $('#modalCookies').modal('show');
    });

    var cookiesAccepted = false;

    var naoAceitoBtn = document.getElementById('naoAceitoBtn');
    var aceitoBtn = document.getElementById('aceitoBtn');

    naoAceitoBtn.addEventListener('click', function () {
        cookiesAccepted = false;
        sendCookiesInfoAndClose();
    });

    aceitoBtn.addEventListener('click', function () {
        cookiesAccepted = true;
        sendCookiesInfoAndClose();
    });

    function sendCookiesInfoAndClose() {
        console.log('Cookies Accepted:', cookiesAccepted);

        $.ajax({
            type: 'POST',
            url: '/update_cookies',
            contentType: 'application/json',
            data: JSON.stringify({ cookiesAccepted: cookiesAccepted }),
            success: function (data) {
                $('#modalCookies').modal('hide');
            },
            error: function (xhr, status, error) {
                console.error('Error:', status, error);
            }
        });
    }


    filterBtn.addEventListener("click", function () {
        submitBtn.click();
        console.log('triggered')
    });

    let confirma = false;
    $('#user-info-form').submit(function (event) {
        event.preventDefault();

        var formData = {
            nome: $('#nome').val(),
            endereco: $('#endereco').val(),
            celular: $('#celular').val(),
            email: $('#email').val(),
            empresa: $('#empresa').val(),
            cnpj: $('#cnpj').val()
        };

        $.ajax({
            type: 'POST',
            url: '/user-info',
            data: formData,
            success: function (response) {
                console.log('User information submitted successfully.');
                disableForm();
                scrollToSection('montar');
                $('#filter-form button[type="submit"]').prop('disabled', false);
                const filterbtn = document.getElementById("filterbtn")
                filterbtn.innerText = "Buscar Máquinas";
                confirma = true;
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    $('#submit-product-info').click(function (event) {
        event.preventDefault();


        var formData = {
            descricao_produto: $('#descricao-produto').val(),
            peso_produto: $('#peso-produto').val(),
            unidade_peso: $('#unidade-peso').val()
        };

        console.log('Form data: ', formData)

        if (!formData.descricao_produto || !formData.peso_produto || !formData.unidade_peso) {
            console.log('Nothing being passed.');
            // Display a message or take appropriate action here
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/product-info',
            data: formData,
            success: function (response) {
                console.log('Product information submitted successfully.');
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    function disableForm() {
        const form = document.getElementById("user-info-form");
        const elements = form.elements;

        for (let i = 0; i < elements.length; i++) {
            elements[i].disabled = true;
        }

        const submitButton = form.querySelector("#submit-btn");
        submitButton.innerText = "Enviado";
    }

    function scrollToSection(sectionId) {
        const section = document.getElementById(sectionId);
        const offsetTop = section.offsetTop;
        window.scroll({
            top: offsetTop,
            behavior: "smooth",
        });
    }


    function setFilterValues() {
        $('#embalagem').val(embalagem);
        $('#produto').val(produto);
    }

    $('.embalagem-btn').click(function () {
        embalagem = parseInt($(this).val());
        setFilterValues();
    });

    $('.produto-btn').click(function () {
        produto = parseInt($(this).val());
        setFilterValues();
    });

    function generateCardHtml(machine) {
        return `

            <div class=" col-6 col-md-4">
				<div class="news">
					<div class="img-figure">
						<div class="cat"alt='${machine.nome}'>${machine.linha}</div>
						<img src='${machine.imagem}' class="img-responsive">
					</div>	

					<div class="title">
						<h1>${machine.nome}</h1>
					</div>
					<p class="description">${machine.descricao}</p>
                    <p class="more">
						<a href='/maquinas/${machine.pagina}'>SELECIONAR</a><i class="fa fa-angle-right" aria-hidden="true"></i>   
					</p>
			    </div>
            </div>
    `;
    }

    function redirectToMachinePage(pagina) {
        window.location.href = `/maquinas/${pagina}`;
    }


    function animateCards() {
        const cards = $('.card');
        cards.each(function (index) {
            const card = $(this);
            setTimeout(function () {
                card.addClass('animate');
            }, index * 50);
        });
    }

    $('#filter-form').submit(function (event) {
        event.preventDefault();

        if (!confirma) {
            scrollToSection('dados');
            return

        }

        var formData = {
            embalagem: embalagem,
            produto: produto
        };

        $.ajax({
            type: 'POST',
            url: '/filter',
            data: formData,
            success: function (response) {
                var result = response.result;
                var cardContainer = $('#card-container');
                scrollToSection('resultados');
                if (result.length === 0) {
                    cardContainer.html('<p>Nenhum resultado encontrado, selecione outra opção.</p>');
                } else {
                    var cardsHtml = '';
                    for (var i = 0; i < result.length; i++) {
                        var machine = Maquinas[result[i]];
                        cardsHtml += generateCardHtml(machine);
                    }
                    cardContainer.html(cardsHtml);
                    animateCards()
                }
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    const embButtons = document.querySelectorAll('.embalagem-btn');
    const prodButtons = document.querySelectorAll('.produto-btn');

    embButtons.forEach(button => {
        button.addEventListener('click', function () {
            let isActive = this.classList.contains('active');
            embButtons.forEach(btn => {
                btn.classList.remove('active');
                btn.querySelector('.fa-circle-check').style.display = 'none';
            });
            if (!isActive) {
                this.classList.add('active');
                this.querySelector('.fa-circle-check').style.display = 'block';
                embalagem = parseInt(this.value);
            } else {
                embalagem = 0;
            }

            setFilterValues();
        });
    });

    prodButtons.forEach(button => {
        button.addEventListener('click', function () {
            const isActive = this.classList.contains('active');
            prodButtons.forEach(btn => {
                btn.classList.remove('active');
                btn.querySelector('.fa-circle-check').style.display = 'none';

            });
            if (!isActive) {
                this.classList.add('active');
                this.querySelector('.fa-circle-check').style.display = 'block';
                produto = parseInt(this.value);
            } else {
                produto = 0;
            }
            setFilterValues();
        });
    });

</script>
{% endblock %}